@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fredoka';
  src: url('../public/assets/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
